@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* FIX CENTERING */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* =========================
   MAZE WRAPPER
   ========================= */
.maze-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* canvas */
.maze-canvas {
  border: 2px solid white;
  background: black;
  display: block;
  width: 600px;
  height: 600px;
}

/* UI */
.ui {
  margin-top: 10px;
  color: white;
  text-align: center;
}

/* WIN OVERLAY */
.win-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 30px;
}